body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#ffd6e8, #ffe9f3);
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.music-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ff8ec2;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
}

.container {
    text-align: center;
    padding: 60px 20px;
    max-width: 500px;
    margin: auto;
}

.title {
    font-size: 42px;
    color: #c9145b;
    font-weight: 700;
}

.subtitle, .message {
    font-size: 20px;
    color: #7a2950;
    line-height: 1.7;
    max-width: 5000px;
    margin: 20px auto;
}

.cake {
    width: 260px;
    display: block;
    margin: 20px auto;
}

.buttons {
    margin-top: 25px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 22px;
    background: #ff98c7;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover {
    background: #ff6eb1;
}

.back {
    background: #c86394;
}

.floating-heart {
    position: fixed;
    bottom: -10px;
    font-size: 30px;
    pointer-events: none;
    animation: rise 6s linear forwards;
    z-index: 990;
}

@keyframes rise {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-120vh); opacity: 0; }
}
